/lib/** linguist-vendored
/buildSrc/** linguist-vendored
/core/** linguist-vendored
/build.gradle.kts linguist-vendored
/ktlintCodeStyle.xml linguist-vendored
/.editorconfig linguist-vendored
/gradle/wrapper/* linguist-generated
/gradlew linguist-generated
/gradlew.bat linguist-generated
